body {
  background-image: url("../images/whimsical.jpg");
  background-color: black;
}

header {
  font-size: 3em;
  color: white;
  text-align: center;
}

section {
  display: block;
  position: relative;
  margin: 10px auto;
  padding: 8px;
  width: 400px;
  color: white;
  text-align: center;
  background-color: teal;
}
